<div class="container-fluid jumbotron mt-4">
    <h1 class="display-5 fw-bold"><%= title %></h1>
    <p class="col-md-12 fs-4"><%= description %></p>
    <%= link_to button_text, button_link, class: 'btn btn-primary btn-lg' %>
</div>
