<div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Welcome to er-Task</h1>
    <p class="col-md-12 fs-4">Our task management app helps you stay organized and productive. Easily create, track, and prioritize tasks with a user-friendly interface. Never miss an important deadline again.</p>
    <%= link_to 'Sign Up', '#', class: 'btn btn-primary btn-lg' %>
</div>
  