// Graphical variables
@import "fonts";
@import "custom";

@import "font-awesome";

@import "components/jumbotron";


body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}


a {
  text-decoration: none;
}

a:hover {
  text-decoration:none;
}